@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roberto', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

input {
    height: 60px;
    width: 100%;
    max-width: 800px;
    outline: none;
    font-size: 20px;
    padding-left: 20px;
}

h1 {
    font-weight: 500;
    letter-spacing: .1em;
    font-size: 45px;
    margin-bottom: 40px;
    text-align: center;
    color: white;
}

h2 {
    letter-spacing: .1em;
}

/*

APP

*/

#app {
   min-height: 100vh;
   display: flex;
   flex-direction: column; 
}

.flex {
    display: flex !important;
}

.flex__col {
    flex-direction: column !important;
}

.navbar {
    height: 326px;
    display: flex;
    padding: 40px 15px;
    background-color: #242424;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    position: relative;
}

.align-center {
    align-items: center !important;
}

.justify-between {
    justify-content: space-between !important;
}

.content-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    width: 100%;
    max-width: 160px;
}

.links {
    display: flex;
    width: 100%;
    max-width: 430px;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

.nav__btn {
    color: rgb(193, 2, 2);
    background-color: #fff;
    padding: 12px 40px;
    max-height: 48px;
    min-height: 48px;
    border: 2px solid rgb(193, 2, 2);
    border-radius: 50px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 300ms ease;
}

.nav__btn:hover {
    color:#fff;
    background-color: rgb(193, 2, 2);
    border-color: #fff;
}

.input__wrapper {
    width: 100%;
    max-width: 800px;
    background-color: white;
    border: 2px solid rgb(193, 2, 2);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all 300ms ease;
}

.input__wrapper:hover {
    border: 2px solid rgb(255, 24, 24);
}

.header__btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: 32px;
    color: rgb(193, 2, 2);
    padding: 0 20px 0 8px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
}

.header__btn:hover {
    color: rgb(255, 24, 24);
}

.search__filter {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 18px;
    padding: 0 20px;
}

.show-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.show-card__container {
    background-color: #242424;
    color: white;
    border: 2px solid rgb(193, 2, 2);
    border-radius: 10%;
    margin: 12px;
}