@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roberto', sans-serif;
}

body {
    background-color: rgb(241, 249, 241);
}

.green {
   color: rgb(3, 115, 3);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #242424;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

input {
    background-color: white;
    border-radius: 20px;
    border: 2px solid rgb(9, 54, 9);
    display: inline-block;
    height: 70px;
    line-height: 40px;
    outline: none;
    width: 100%;
    font-size: 24px;
    padding-left: 24px;
    transition: all 300ms ease;
}

input:hover {
    border: 2px solid rgb(3, 115, 3);
}

.logo {
    width: 100%;
    max-width: 160px;
}

.navbar {
    height: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    padding: 0 50px;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

.nav__btn {
    border: 2px solid rgb(3, 115, 3);
    border-radius: 50px;
    background-color: rgb(3, 115, 3);
    color: white;
    margin-top: 2px;
    padding: 10px 32px;
    margin: 0 24px;
    transition: all 300ms ease;
}

.nav__btn:hover {
    background-color: white;
    color: rgb(3, 115, 3);
}

.link__hover--effect {
    transition: all 100ms ease;
}

.link__hover--effect:hover {
    border-bottom: 2px solid #242424;
}

/* LANDING PAGE */

#landing__page {
    width: 100vw;
    padding: 10px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 12px;
    color: rgb(3, 115, 3);
}

h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.input__wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.header__btn {
    width: 200px;
    margin-left: 20px;
    border-radius: 20px;
    border: none;
    font-size: 42px;
    color: white;
    background-color: rgb(3, 115, 3);
    transition: all 300ms ease;
    position: relative;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
}

.fa-solid {
    background-color: rgb(3, 115, 3);
    transition: 0;
}

.click:hover {
    transform: scale(1.1);
}

/*

USER

*/

.post-card {
  background-color: #fff;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
}

.post-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.post-card__container {
  padding: 2px 16px;
}

.back-btn {
  color: #fff;
  background-color: rgb(3, 115, 3);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 300ms ease;
}

.back-btn:hover {
    color: rgb(3, 115, 3);
    background-color: #fff;
    border: 1px solid rgb(3, 115, 3);
}

.post {
  border: 1px solid black;
  background-color: white;
  margin: 20px;
}

.post__title {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  padding: 8px;
}

.post__body {
  padding: 0 8px;
}

.post__search {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.post__search--container {
  display: flex;
  flex-direction: column;
}

.post__search--label {
  padding-right: 8px;
}

.shows {
    width: 50%;
}

.show-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px;
  padding: 14px;
}





    


